.tldraw__editor {
  position: fixed;
  inset: 0px;
  overflow: hidden;
}

.examples {
  padding: 16px;
}

.examples__header {
  width: fit-content;
  padding-bottom: 32px;
}

.examples__lockup {
  height: 56px;
  width: auto;
}

.examples__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.examples__list__item {
  padding: 8px 12px;
  margin: 0px -12px;
}

.examples__list__item a {
  padding: 8px 12px;
  margin: 0px -12px;
  text-decoration: none;
  color: inherit;
}

.examples__list__item a:hover {
  text-decoration: underline;
}
