name: Pull Request

on: pull_request

jobs:
  check:
    timeout-minutes: 5
    strategy:
      matrix:
        os: [
            ubuntu-24.04
            # windows-latest,
            # macos-latest,
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: oven-sh/setup-bun@v1

      - run: bun install
      - run: npm run build # bun run build goes into an infinte loop
      - run: npm run check # bun run check goes into an infinte loop
